/** Add css rules here for your application. */


body {
	padding: 10px;
}

/* park list table header */
.parkListHeader {
	background-color: #2062B8;
	color: white;
	font-style: bold;
}

/* table list */
.parkList {
	test-align: right;
	border: 1px solid silver;
	padding: 2px;
	margin-bottom: 6px;
}

/* input text box */
.inputTextBox {
	margin: 10px 0px 15px 0px;
}

/* button */
.gwt-Button-search {
	width: 70px;
	padding: 5px 5px;
	border: 1px #FF00FF;
	background: transparent;
}

/* error message */
.errorMessage {
	color: red;
	font-style: italic;
}

/* request success message */
.successMessage {
	color: green;
	font-style: italic;
}



