<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ParkFinder.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>parkService</servlet-name>
    <servlet-class>com.cpsc310.team_name.parkfinder.server.ParkServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>parkService</servlet-name>
    <url-pattern>/parkfinder/parkservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>facilityService</servlet-name>
    <servlet-class>com.cpsc310.team_name.parkfinder.server.FacilityServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>facilityService</servlet-name>
    <url-pattern>/parkfinder/facilityservice</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>areaService</servlet-name>
    <servlet-class>com.cpsc310.team_name.parkfinder.server.AreaServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>areaService</servlet-name>
    <url-pattern>/parkfinder/areaservice</url-pattern>
  </servlet-mapping>


  <servlet>
  	<servlet-name>loginService</servlet-name>
  	<servlet-class>com.cpsc310.team_name.parkfinder.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginService</servlet-name>
  	<url-pattern>/parkfinder/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>userSearchService</servlet-name>
  	<servlet-class>com.cpsc310.team_name.parkfinder.server.UserSearchServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>userSearchService</servlet-name>
  	<url-pattern>/parkfinder/usersearchservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>